 /* For desktop: */
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}

html {
	font-family: "Lucida Sans", sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	border:0;
}

body{
	margin: 0;
	padding: 0;
	border:0;
}

* {
    box-sizing: border-box;
}

button{
    background-color: orangered;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.col{
	float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
#header{
    z-index: 1999;
    position:fixed;
    height:70px;
    width:100%;
    margin: 0px;
    background-color:blue;
}

.nav{
    float: right;
}

.nav a:hover{
    color:white;
}

.list{
    list-style: none;
    padding: 0%;
}

.list li{
    display: inline;
	margin:5px;
    padding: 0; 
}

.text{
    padding: 10px;
    
}

video{
    width: 100%;
    height: auto;
}

img{
    max-width: 100%;
    align-content: center;
}

.imagen{
    display: block;

}

.box1{
    padding-top: 70px;
    line-height: 1.8;
    text-shadow: 3px, 2px, #EBEDEF;
}

#info{
    text-align: justify;
    font-family: "Impact", Charcoal, sans-serif;
    box-shadow: 10px 10px 5px grey;

}

.actividades{
    padding: 5px;
    text-align: center;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 5px 2px #282a2d;
}

.actividades h1{
    color:white;
    margin: 10px;
    font-family: "Lucida Console", Monaco, monospace;

}
.recursos{
    background-image: url("./imagenes/img1.jpg");
    
}

.mini{
    background-image: url("./imagenes/img2.jpg");
}

.curso{
    background-image: url("./imagenes/img3.jpg");
}

.mueganos{
    background-image: url("./imagenes/img4.jpg");
    background-position: left;
}

.brigada{
    background-image: url("./imagenes/img5.jpg");
}

.ciss{
    background-image: url("./imagenes/img6.jpg");
}